@model uppgifLoginViewComponent.Models.ViewModels.StudentInfoViewModel
@*use scripts in partial view? går enligt plural sight utan section artikel! Scripts section doesnt work by default design. you will need helpers in that case.*@


    <title>Bootstrap Example</title>
    
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

@*<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>*@

<script>
    
    let $j;

    function Popfunction(e) {
        //let popoverelement = document.getElementById("popbtn");
        //let popelements = document.getElementsByTagName("button");
        let el = e.target; console.log("elem", el);
        //popoverelement.showPopover();
    };


    $(document).ready(function () { $j = jQuery.noConflict(); });

    function Mybootspop(event) { 
        //var $j = jQuery.noConflict();

        var ev = event;
        console.log("event", ev); console.log("attribute", ev.target.attributes.getNamedItem("id"));
        var id = ev.target.attributes.getNamedItem("id").value;
        var stringid = "#".concat(id); console.log("myid=", stringid); /*var target = $j(stringid);*/ /*target.popover();*/$j(stringid).popover();
        
    };
    
</script>
<script>
    //var $j = jQuery.noConflict();

    function Myfunct() {

        $j('[data-toggle="popover"]').popover();
    };

    //buttons = document.getElementsByTagName("button");
    buttons = document.getElementsByClassName("mybutton");

    //let number = 0;
    for (let i = 0; i < buttons.length; i++) {
        console.log("button", buttons[i]);
        buttons[i].addEventListener("click", function (e) {

            let target = e.target.innerHTML.replace(/^a-zA-Z0-9 ]/g, '')

            target = target.trim();
            GetCourseNameOnClick(target);
            ShowCourseAtDropzone(target);
        })
    }



</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="text-primary">
</div>

<div class="border border-dark rounded p-5 mt-5>
    @{Html.RenderPartial("_StudentInfo", Model);}
</div>
<span id="email"></span>
<span id="updateemailsuccess"></span> @*från EditStudenEmail*@

@*<p>Name:@ViewBag.FName &nbsp; @ViewBag.LName</p>*@
<!--<p>Name:@Model.FirstMidName &nbsp; @Model.LastName</p>-->

<div class="border border-dark rounded p-5 mt-5">
<h3>Courses</h3>


<div class="accordion" id="accordionExample">
    <div class="alert-info">


        @{  if(TempData["Gradechangeinfo"]!= null) //.Count != 0)
            {
            
                if(Model.Enrollments.Any(item=> item.ID.ToString().Equals(TempData["GradechangeEnrollmentId"])))
                {
                    <p>
                        @TempData["GradechangeInfo"] course 
                        @*@TempData["GradechangeEnrollmentId"]*@  

                    </p>
                
                }
            }
        }

        

    </div>
    @{ foreach (var item in Model.Enrollments)
        {

            <div class="accordion-item">
                <h2 class="accordion-header" id="acsitems@(item.ID.ToString())">
                    <button class="mybutton accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item@(item.ID.ToString())" aria-expanded="true" aria-controls="collapseOne@(item.ID.ToString())" data-parent="#accordionExample">
                        @item.Name

                        @{//to do göra en taghelper istället dry
                            string changedGradeEnrollmentid = null;
                            if (TempData["GradechangeEnrollmentId"] != null)
                            {
                                changedGradeEnrollmentid = TempData.Peek("GradechangeEnrollmentId").ToString();
                                
                                //courseId = (int)TempData["GradechangeCourseId"];

                                if (changedGradeEnrollmentid.Equals(item.ID.ToString()))
                                {
                                    <span class="text-danger">(@(TempData.Peek("GradechangeInfo"))!)</span>
                                }
                                
                            }
                        }


                    </button>
                </h2>
                <div id="item@(item.ID.ToString())" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">


                        <p>
                            CourseName: @item.Name
                        </p>
                        <p class=@(changedGradeEnrollmentid!=null && changedGradeEnrollmentid.Equals(item.ID.ToString())? "text-danger" : "text-success")>


                            Grade: @item.StudentGrade


                        </p>

                        @*<table class="table">
        <thead>
            <tr>
                Name thead
            </tr>
        </thead>
        <tbody>
          <tr>*@


                        <div class="text-primary tex ">
                          <p class="fw-light text-decoration-underline">Returned Assignments</p>
                       </div>

                        @{
                            if (item.Assignments != null)
                            {

                                foreach (var assignment in item.Assignments)
                                {

                                    // if (assignment.CourseID == item.CourseID)
                                    <div>
                                        <span>
                                            AssignmentName:&nbsp;@Model.CourseAssignment.Where(ca => ca.CourseID == assignment.CourseID).FirstOrDefault().AssignmentName.ToString()
                                            @if (User.IsInRole("Teacher"))
                                            {<a asp-controller="Home" asp-action="StudAssignment" asp-route-Id="@(assignment.EnrollmentID)" asp-route-AssId="@assignment.ID">examine/correct</a>}
                                        </span>
                                    </div>
                                    <div>
                                        <span>DueDate:</span>
                                        <span>/&nbsp;:@Model.CourseAssignment.Where(ca => ca.CourseID == assignment.CourseID).FirstOrDefault().LastSubmissionDate.ToString()</span>
                                    </div>
                                    //--
                                    @*<button id="popbtn@(assignment.ID)" popovertarget="mypop@(assignment.ID)" onclick="Popfunction(event)">pop</button>*@

                                    <a id="@(assignment.ID)" href="#/" data-toggle="popover" title="details"
                                       data-bs-content="assignmentname: @assignment.Name / submissiondate: @assignment.SubmissionDate.ToString()"
                                       onclick="Mybootspop(event)">
                                        Details
                                    </a>



                                    @if (DateTime.Compare(   //use helper
                            @Model.CourseAssignment.
                            Where(ca => ca.CourseID == assignment.CourseID)
                            .FirstOrDefault().LastSubmissionDate, assignment.SubmissionDate) > 0)
                                    {
                                        <span><i class="fa fa-check" style="color:forestgreen"></i>OnTime</span>
                                        <br>
                                        <br>


                                    }
                                    else
                                    {
                                        <span> <i class="fa fa-times" style="color:red"></i> Late</span>
                                        <br>
                                        <br>

                                        @*<span>
                            <a asp-action="DeleteFile" asp-controller="Home" asp-route-Id="@(assignment.ID)">
                                DeleteFile
                            </a>
                        </span>*@
                                    }
                                    <span>
                                        <a asp-controller="Home" asp-action="DeleteAssignment" asp-route-assignmentId="@(assignment.ID)">
                                            DeleteFile
                                        </a>
                                    </span>

                                }

                            }//if Assignments
                            else
                            {
                                <span>No current assignments  </span>

                            }



                        }

                        @*</tbody>
        </table>*@

                    </div>
                </div>
            </div>
        }
    }

</div>
    </div>

<div id="studinfo"></div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

@*popover requires tooptips in js initialization fungerade ändå inte. ? varför?*@









