@model uppgifLoginViewComponent.Models.ViewModels.StudentInfoViewModel
//you shouldn't use scripts in partial view Scripts section doesnt work by default design. you will need helpers in that case.

<div class="text-primary">
</div>
@*<h3>Info</h3>*@
@*<p>Name:@ViewBag.FName &nbsp; @ViewBag.LName</p>*@
<p>Name:@Model.FirstMidName &nbsp; @Model.LastName</p>


<h3>Courses</h3>


<div class="accordion" id="accordionExample">

    @{ foreach (var item in Model.Enrollments)
        {

            <div class="accordion-item">
                <h2 class="accordion-header" id="acsitems@(item.ID.ToString())">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item@(item.ID.ToString())" aria-expanded="true" aria-controls="collapseOne@(item.ID.ToString())"
                            onclick="function(){ }">
                        @item.Name
                    </button>
                </h2>
                <div id="item@(item.ID.ToString())" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                          
                        <p>CourseName: @item.Name</p>
                        <p>Grade: @item.StudentGrade</p>
                        @{ foreach (var assignment in item.Assignments)
                            {

                                // if (assignment.CourseID == item.CourseID)
                                 <span>AssignmentName:&nbsp;@Model.CourseAssignment.Where(ca => ca.CourseID == assignment.CourseID).FirstOrDefault().AssignmentName.ToString()</span>
                                 <span>DueDate:</span><span>/&nbsp;:@Model.CourseAssignment.Where(ca => ca.CourseID == assignment.CourseID).FirstOrDefault().LastSubmissionDate.ToString()</span>
                                    
                                {<p>AssignmentFileName: @assignment.Name &nbsp;/SubmissionDate:&nbsp;@assignment.SubmissionDate.ToString()</p> }
                                <span>Submitted: 
                                @if (DateTime.Compare(
                               @Model.CourseAssignment.
                               Where(ca => ca.CourseID == assignment.CourseID)
                               .FirstOrDefault().LastSubmissionDate, assignment.SubmissionDate) > 0)
                                {<span>OnTime</span> }
                                else {<span>Late</span> } </span>

                                
                        }
                        }
                    </div>
                </div>
            </div>
        }
    }




</div>





