@using uppgifLoginViewComponent.Models

@model uppgifLoginViewComponent.Models.ViewModels.IndexViewModel
@*@{
        ViewData["Title"] = "Index";
    }*@

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

@*@section Scripts {

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    }*@

@section Scripts{


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
}

<script>

    function DeleteOnClose(selectid, lastname) {
        var select = document.getElementById(selectid);
        document.getElementById(lastname).innerHTML = "";//ta bort kursinfo
        //let upload = document.getElementById("my-awesome-dropzone");
        //let hidden = upload.getAttribute("hidden");
        //upload.setAttribute("hidden", "hidden");
        let upload = document.getElementById("my-awesome-dropzone");
        //let hidden = upload.getAttribute("hidden");

        upload.setAttribute("hidden", "hidden");//modalknapp
        $(".fileupload").attr("hidden", "hidden"); // knapponcanv
        console.log(upload.getAttribute("hidden").value);
        select.value = "0";

    }

    async function myFunction(selectid, lastname) {
        var select = document.getElementById(selectid);

        let upload = document.getElementById("my-awesome-dropzone");
        let hidden = upload.getAttribute("hidden");

        if (select.value == "0") {

            upload.setAttribute("hidden", "hidden");
            $(".fileupload").attr("hidden", "hidden");

        }
        else {
            upload.removeAttribute("hidden");
            $(".fileupload").removeAttr("hidden"); // måste vara en klass id hittar bara första klassen då det är unikt.

        }


        console.log(select.value, "= select.value", hidden, "=attrhidden")
        if (select.value == "0") { //value för pågående kurser

            /*DeleteOnClose(selectid, lastname);*/
            htmlstring = "";
            document.getElementById(lastname).innerHTML = htmlstring;

            return;
        }

        var value = select.value;
        console.log(value, typeof (select.value));

        var route = "https://localhost:44343/Home/getJsonEnrolls?value=" + value;
        let lastn = lastname;

        const respons = await fetch(route, { method: "GET" });
        const enroll = await respons.json();

        //ok :)
        //    document.getElementById("test").innerHTML = "testok" + lastn;
        console.log("values", enroll)

        if (enroll != null) {
            Object.values(enroll).forEach(val => console.log(val));


            let coursestring = "";
            let courseTitle = enroll.title;
            let courseCredits = String(enroll.credits);

            coursestring += `<div class="text-primary" style="display:inline;"id="coursesinfo"><span>CourseName: ${courseTitle}</p><p>CourseCredits: ${courseCredits}</span> </div><span><a class="btn btn-warning" style="display:inline-block" href="/Home/Delete?lastname=${lastname}&courseTitle=${courseTitle}">Avregistrera kurs</a></span>`
            //let avregistrera = `<a class="btn btn-danger" asp-action="Delete" asp-route-lastname="${lastn}" asp-route-courseTitle="${courseTitle}">Aregistrera </a>` lägger kurs info efter selectlist onklick
            let avregistrera = `<form asp-action="Delete">
                Avregistrera: <div><input type="hidden" asp-for="lastname" name="lastname" value="${lastname}"/>
                <input type="hidden" asp-for="courseTitle" name="courseTitle" value="${courseTitle}"></input>
                <input type="submit" value="avregistrera" class="btn btn-default" /> |
                </p>
                </form>

                <a asp-action="Index" > Back to Full List</a>
                <a href="/Home/Delete?lastname=${lastname}&courseTitle=${courseTitle}"> Back to Full List</a>`


            /*/ok:) avregistrera2 . avregistrera1a tag ej ok renderar ingen länk:( varför? fråga någon /vad jag lärt?det är svårt att blanda ihop bootstrap komponenter?  */
            let avregistrera2 = `<a class="btn btn-danger" style="display:inline" href="/Home/Delete?lastname=${lastname}&courseTitle=${courseTitle}">Avregistrera kurs</a>`
            let htmlstring = coursestring; /*+ avregistrera2;*/

            if (value == "0") { //value för pågående kurser
                htmlstring = "";
                dropfile.innerHTML = "";
            }
            document.getElementById(lastn).innerHTML = htmlstring;

            //document.getElementById(lastn).innerHTML = "testok" + String(enrolls);
            //document.getElementById("my-awesome-dropzone").hidden = "";
        }
    }
    //ok :)
    /*<a class="btn btn-danger" asp-action="Delete" asp-route-lastname="${lastn}" asp-route-courseTitle="${courseTitle}">Aregistrera </a>*/


    function AddUpload() {

        $("#myModal").modal('show');
    }


</script>

<div class="text-dark text-center">
    <h1>StudentView</h1>
</div>



<!--<p>
    <a asp-action="Create">Create New</a>-->
@*bara som teacher*@
<!--</p>-->
<!--<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">-->
<!-- Modal Header -->
<!--<div class="modal-header">
    <h4 class="modal-title">Sänd uppgift</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>-->
<!-- Modal body -->
<!--<div class="modal-body">

    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />


    <form id="my-awesome-dropzone" class="dropzone" action="/Home/Upload/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="1" />
        <div class="dropzone-previews"></div>
        <span>-></span>
        <button class="btn btn-success btn-sm " type="submit">Spara din fil</button>
        <span>| Ladda upp/ skicka din text-fil</span>
    </form>
    <script src="dropzone-custom.js"></script>

</div>-->
<!-- Modal footer -->
<!--<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>-->
@*<div class="row">
    <div class="col-8">*@
@*<a type="submit" asp-action="Delete" asp-route-lastname="Olivetto" asp-route-coursetitle="ProgrammeringA">avregistrera2</a>*@
<table class="table ">
    <thead class="text-center bg bg-warning">
        <tr>
            <th>
                Redigera
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
            </th>
            <th class="text-left pl-5 ">
                Enrollments
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Students)
        {


            <enrollments-select class="custom-select" selectvalues="@item.Enrollments.ToList()"> </enrollments-select>

            @*<div @Html.Partial("_Enrollment") asp-contoller="Home" asp-action="StudentEnrollments"></div>*@

            <tr>
                @*<div class="col-8"> inte tillåtet med en td innanför en div tvärtom ok*@

                <td class="td1">
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-controller="Students" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    <!--<div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">-->
                    <!-- Modal Header -->
                    <!--<div class="modal-header">
                        <h4 class="modal-title">Sänd uppgift</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>-->
                    <!-- Modal body -->
                    <!--<div class="modal-body">

                        <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
                        <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />


                        <form id="my-awesome-dropzone" class="dropzone" action="/Home/Upload/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="1" />
                            <div class="dropzone-previews"></div>
                            <span>-></span>
                            <button class="btn btn-success btn-sm " type="submit">Spara din fil</button>
                            <span>| Ladda upp/ skicka din text-fil</span>
                        </form>
                        <script src="dropzone-custom.js"></script>

                    </div>-->
                    <!-- Modal footer -->
                    @*<div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>*@


                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                Modal Header
                                <div class="modal-header">
                                    <h4 class="modal-title">Sänd uppgift</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                Modal body
                                <div class="modal-body">




                                    <form id="my-awesome-dropzone" class="dropzone" hidden="hidden" action="/Home/Upload/" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="id" value="@item.ID" />
                                        <div class="dropzone-previews"></div>
                                        <span>-></span>
                                        <button class="btn btn-success btn-sm " type="submit">Spara din fil</button>
                                        <span>| Ladda upp/ skicka din text-fil</span>
                                    </form>
                                    <script src="dropzone-custom.js"></script>

                                </div>

                                @*Modal footer*@
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </td>


                <!--<td>-->@*<div @Html.Partial("_Modal", ViewData["thisstudentrolls"])></div>*@<!--</td>-->
                <td class="td1">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="td1">
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td class="td1">
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>

                <td>

                    <form asp-action="OnStudinfoSubmit" asp-controller="Home"
                          data-ajax="true"
                          data-ajax-metod="POST"
                          data-ajax-mode="replace"
                          data-ajax-update="#studnfo"
                          data-ajax-success="Success"
                          data-ajax-failure="Failure">

                        <div class="form-group">
                            <input name="studentid" value="@item.ID" />
                        </div>
                        <input type="submit" name="Submit" class="btn btn-dark">
                    </form>

                    <p>info</p>
                    <div id="studnfo">
                        display info here
                    </div>



                    @{if (item.Enrollments.Count == 0)
                        {
                            <p class="td1">no enrollments</p>
                        }
                        else
                        {


                            @*@Model.Student = item;*@ @*funkar ej*@
                            var studstr = "modal" + item.ID.ToString();
                            var stud = "#modal" + item.ID.ToString();
                            var studcanv2 = "offcanv" + item.ID.ToString();
                            var studcanv1 = "#offcanv" + item.ID.ToString();




                            <a class="btn text-info ml-5 d-inline" style="margin:0; padding:0" role="button" data-bs-toggle="offcanvas" data-bs-target="@(studcanv1)"> <img src="https://cdn.pixabay.com/photo/2017/06/25/19/09/house-2441625_960_720.png" style="height:auto; width:5%; margin:0; padding:0" />Mina kurser</a>
                            @*<div class="text-info mr-5">Dina kurser</div>*@
                            <div class="border-left border-primary d-inline" style="margin:0; padding:0"></div>
                            <a class="text-info ml-3 mr-5 d-inline" style="margin:0; padding:0" href="https://www.google.com"> <img src="https://cdn.pixabay.com/photo/2019/07/03/05/58/envelope-4313721_960_720.png" style="height:auto; width:5%; margin:0; padding:0">Dina kontaktuppifter</a>


                            @*<div @Html.Partial("_Modal", @ViewData["Enrollments"] = (Student)item )></div>*@
                            {
                                Tuple<Student, string, string> studpartialinfo = new Tuple<Student, string, string>(item, studcanv2, studcanv1);
                                ViewData["partialstudinfo"] = studpartialinfo;
                            }
                            <div @Html.Partial("_StudCanvas", ViewData["partialstudinfo"])></div>





                        }

                    }


                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>



</table>

<meta charset="UTF-8">
<title>Dropzone JS tutorial</title>
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />


<form id="my-awesome-dropzone" class="dropzone" action="/Home/Upload" method="post" enctype="multipart/form-data">
    <div class="dropzone-previews"></div>
    this is were the previews should be shown.
    Now setup your input fields

    <button type="submit">Submit data and files!</button>
</form>
<script src="dropzone-custom.js"></script>
<script>
<!--....
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Sänd uppgift</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />


<form id="my-awesome-dropzone" class="dropzone" action="/Home/Upload/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="1" />
    <div class="dropzone-previews"></div>
    <span>-></span>
    <button class="btn btn-success btn-sm " type="submit">Spara din fil</button>
    <span>| Ladda upp/ skicka din text-fil</span>
</form>
<script src="dropzone-custom.js"></script>

            </div>-->

<!-- Modal footer -->
<!--<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>

        </div>
    </div>
</div>-->


<script>

const dz = new Dropzone(".dropzone", {
        // The configuration we've talked about above
        url: "/home/Upload",
autoProceshQueue: false,
uploadMultiple: false,
parallelUploads: 100,
maxFiles: 100,
// The setting up of the dropzone
init: function () {
var myDropzone = this;
// First change the button to actually tell Dropzone to process the queue.
this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
        // Make sure that the form isn't actually being sent.
        e.preventDefault();
    e.stopPropagation();
    myDropzone.processQueue();
});
// Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
// of the sending event because uploadMultiple is set to true. < changed to false
        this.{
        // Gets triggered when the form is actually being sent.
        // Hide the success button or the complete form.
    });
this.on("successmultiple", function (files, response) {
        // Gets triggered when the files have successfully been sent.
        // Redirect user or notify of success.
    });
this.on("errormultiple", function (files, response) {
        // Gets triggered when there was an error sending the files.
        // Maybe show form again, and notify user of error
    });
}
});
</script>
@*@section Scripts{

        <script> //fungerar ej
        var courseinfo = document.getElementById("courseinfo");
        courseinfo.innerHTML = "string";
        var courseselect = document.getElementById("courses");
        var itemselected = courseselect.value;
        courseselect.addEventListener("change", myfunction());
        function myfunction()
        {
        var cinfo = document.getElementById("courseinfo");
        cinfo.innerHTML = "courseinfo here update";
        courseinfo.innerHTML = "courses";
        }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    }*@








































